<p id="notice"><%= notice %></p>

<h1>Lista de profesionales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <td><%= link_to 'Turnos', professional_appointments_path(professional) %></td>
        <td><%= link_to 'Show', professional %></td>

        <% if loggedUserHasRole?("administracion") %>
          <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
          <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  
  <%= link_to 'Exportar todos los turnos', export_all_path%> |
  <%= link_to 'volver al home', root_path%> |

  <% if loggedUserHasRole?("administracion") %>
    <%= link_to 'crear profesional', new_professional_path %> |
  <% end %>

  
