<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<%= link_to 'Appointments', professional_appointments_path(@professional) %> |
<% if loggedUserHasRole?("administracion") %>  
  <%= link_to 'Edit', edit_professional_path(@professional) %> |
<% end %>
<%= link_to 'Back', professionals_path %>
