<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>rol:</strong>
  <%= @user.rol %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
