<p id="notice"><%= notice %></p>

<h1>Turnos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre del paciente</th>
      <th>Apellido del paciente</th>
      <th>Telefono</th>
      <th>Notas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.patient_name %></td>
        <td><%= appointment.patient_surname %></td>
        <td><%= appointment.phone %></td>
        <td><%= appointment.notes %></td>

        <td><%= link_to 'Ver', [@professional,appointment] %></td>
        <% if ! loggedUserHasRole?("consulta") %>
          <td><%= link_to 'Editar', edit_professional_appointment_path(@professional,appointment) %></td>
          <td><%= link_to 'Eliminar', [@professional,appointment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if ! loggedUserHasRole?("consulta") %>
  <%= link_to 'Crear turno', new_professional_appointment_path(@professional) %> |
<% end %>
<%= link_to 'Atras', professionals_path %> |
<%= link_to 'Exportar Turnos', professional_export_appointments_path(@professional)%> |
<%= link_to 'Regresar al home', root_path%>