<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Nombre del paciente:</strong>
  <%= @appointment.patient_name %>
</p>

<p>
  <strong>Apellido del paciente:</strong>
  <%= @appointment.patient_surname %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @appointment.notes %>
</p>

<% if ! loggedUserHasRole?("consulta") %>  
  <%= link_to 'Editar', edit_professional_appointment_path(@professional,@appointment) %> |
<% end %>
<%= link_to 'regresar', professional_appointments_path(@professional) %>
