<p id="notice"><%= notice %></p>

<p>
  <strong>Name patient:</strong>
  <%= @appointment.name_patient %>
</p>

<p>
  <strong>Last name patient:</strong>
  <%= @appointment.last_name_patient %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
