<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @appointment.patient_name %>
</p>

<p>
  <strong>Patient surname:</strong>
  <%= @appointment.patient_surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<% if ! loggedUserHasRole?("consulta") %>  
  <%= link_to 'Edit', edit_professional_appointment_path(@professional,@appointment) %> |
<% end %>
<%= link_to 'Back', professional_appointments_path(@professional) %>
